.dropdown-cart-qnt {
  display: flex;
  gap: 5px;

  .dropdown-cart-qnt-label {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-primary);
  }

  .dropdown-cart-qnt-value {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary);
  }
}
