.product-details {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .product-vitals {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .product-brand {
      color: var(--color-primary);
      font-size: 30px;
      font-weight: 600;
      font-family: "Raleway", "sans-serif";
    }

    .product-title {
      color: var(--color-primary);
      font-size: 30px;
      font-weight: 400;
      font-family: "Raleway", "sans-serif";
    }
  }
  .product-attributes {
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: relative;
  }

  .product-description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-primary);
  }
}
