.dropdown-form {
  position: relative;
  width: auto;

  .dropdown-value {
    display: flex;
    gap: 5px;
    cursor: pointer;

    .active {
      transform: rotate(180deg);
    }

    .dropdown-value-data {
      font-size: 18px;
      cursor: pointer;
    }

    .dropdown-arrow {
      margin-top: 3px;
      width: 10px;
    }
  }

  .dropdown-fields-container {
    width: 114px;
    position: absolute;
    top: 30px;
    left: -40px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 2;

    .dropdown-input-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .input-label {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;

        font-size: 18px;
      }
    }

    .active {
      background-color: var(--background-transparent);
    }
  }

  .dropdown-submit {
    display: none;
  }
}
