.item-details {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .item-vitals {
    display: flex;
    flex-direction: column;

    span {
      font-family: "Raleway", "sans-serif";
      font-weight: 300;
      font-size: 16px;
      color: var(--color-primary);
    }
  }

  .item-price {
    margin-bottom: 4px;

    font-family: "Raleway", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: var(--color-primary);
  }

  .item-attr-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
