.dropdown-cart {
  position: relative;
  z-index: 3;

  .cart-icon {
    margin-top: 5px;
    cursor: pointer;
  }

  .cart-qnt {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 50%;
    transform: translate(50%, -85%);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--color-primary);

    color: var(--color-white);
    font-family: "Roboto", "sans-serif";
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
  }

  .dropdown-cart-content {
    position: absolute;
    top: 185%;
    right: -20px;
    z-index: 6;
    max-height: 80vh;
    width: 325px;
    padding: 32px 16px;
    box-sizing: border-box;
    background-color: var(--color-white);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .dropdown-cart-item-list {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .cart-buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}

.cart-blur {
  z-index: 2;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 81px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background-color: #393748;
  opacity: 0.22;
  overflow: hidden;
}
