#header {
  height: 80px;
  width: calc(100vw - 202px);

  padding: 0 101px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 41px;
    height: 41px;
  }
}
