#header {
  height: 80px;
  width: calc(100vw - 202px);

  padding: 0 101px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .logo-container {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 41px;
      height: 41px;
    }
  }
}
