.cart-item {
  width: 100%;
  margin: 24px 0;

  display: flex;
  justify-content: space-between;

  .cart-item-right-side {
    display: flex;
    gap: 24px;
  }
  .cart-item-photo {
    width: 200px;
    height: 288px;
    position: relative;

    .cart-item-main-photo {
      width: 100%;
    }

    .cart-item-photo-pickers {
      display: flex;
      gap: 8px;
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
}
