.product-list-page {
  padding: 80px 101px;

  .product-list-page-heading {
    margin-bottom: 114px;

    font-size: 42px;
    font-weight: 400;
    font-family: "Raleway", "sans-serif";
    color: var(--color-primary);
  }

  .product-list-grid {
    padding: 0 15px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }

  .loader-container {
    height: calc(100vh - 242px);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
