.product-page {
  padding: 80px 101px;
  .product-page-heading {
    color: var(--color-primary);
    font-size: 42px;
    font-weight: 400;
    font-family: "Raleway", "sans-serif";
    margin-bottom: 114px;
  }
  .products-grid {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }
}
